.blbtn,
.ylbtn {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.blbtn {
    background-color: #000000;
    color: #f5f5f5;
}

.ylbtn {
    background-color: #f8f842;
}