body {
  background: #eee;
  font-family: sans-serif;
  box-sizing: border-box;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 16px;
}

.title {
  background: #e3f4ff;
  margin-bottom: 12px;
  font-size: 16px;
  padding: 16px;
}

.content {
  background: #e3f4ff;
  padding: 24px 12px;
  margin-bottom: 16px;
}

.button-container {
  background: #e3f4ff;;
  padding: 16px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid white;
  padding: 12px 32px;
  display: block;
  margin: 2px auto;
}